_2/obj
_3_1/_3/bin
_3_1/_3/obj
_3/obj
_4/bin
_4/obj
_3/bin
_5/bin
_5/obj
_6/obj
_8_tz_refactor/Library
_8_tz_refactor/Logs
_8_tz_refactor/obj
_8_tz_refactor/UserSettings
_8_tz_refactor/.vscode
_8_tz_refactor/.vs
